<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h3>Laporan Peminjaman Oleh User</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Filter</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <label>Tanggal Pinjam</label>
                            <input type="date" name="tanggalPinjam" class="form-control" (change)="SendDataonChangePinjam($event)"/>
                        </div>
                        <div class="col-md-3">
                            <label>Tanggal Kembali</label>
                            <input type="date" name="tanggalKembali" class="form-control"   (change)="SendDataonChangeKembali($event)" min="{{tanggal.tanggalPinjam}}"/>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <table class="table table-hover">
                        <thead class="thead-light">
                            <tr>
                                <td rowspan="2" class="align-middle" style="text-align: center;">Nama User</td>
                                <td rowspan="2" class="align-middle" style="text-align: center;">Email</td>
                                <td colspan="5" class="align-middle" style="text-align: center;">Buku</td>
                                <td rowspan="2" class="align-middle" style="text-align: center;">Total Hari Pinjam</td>
                                <td rowspan="2" class="align-middle" style="text-align: center;">Total Denda</td>
                            </tr>
                            <tr>
                                <td class="align-middle" style="text-align: center;">Judul</td>
                                <td class="align-middle" style="text-align: center;">Tanggal Peminjaman</td>
                                <td class="align-middle" style="text-align: center;">Tanggal Pengembalian</td>
                                <td class="align-middle" style="text-align: center;">Status</td>
                                <td class="align-middle" style="text-align: center;">Denda</td>
                            </tr>
                        </thead>
                        <tbody>
                            <ng-container  *ngFor="let val of listPeminjam; index as i;">
                                <tr *ngFor="let x of val; index as j; ">
                                    <td [rowSpan]="val.length" *ngIf="j ===0" style="vertical-align: middle;">{{listUser[i]['nama']}}</td>
                                    <td [rowSpan]="val.length" *ngIf="j ===0" style="vertical-align: middle;">{{listUser[i]['email']}}</td>
                                    <td>{{x['judul']}}</td>
                                    <td>{{x['tanggalPinjam']}}</td>
                                    <td *ngIf="x['tanggalKembali']!==null">{{x['tanggalKembali']}}</td>
                                    <td *ngIf="x['tanggalKembali']===null">-</td>

                                    <td *ngIf="x['tanggalKembali']===null"><span class="badge badge-pill badge-warning"style="font-size:12px; vertical-align: middle;">Buku Belum Dikembalikan</span></td>
                                    <td *ngIf="x['tanggalKembali']!==null"><span class="badge badge-pill badge-success"style="font-size:12px; vertical-align: middle;">Buku Sudah Dikembalikan</span><br></td>
                                    <td *ngIf="x['denda']!=null"><span class="badge badge-pill badge-danger"style="font-size:12px; vertical-align: middle;">Denda Rp. {{x['denda']| number}} (Terlambat {{x['hari']-14}} Hari)</span></td>
                                    <td *ngIf=" x['denda']==null"><span class="badge badge-pill badge-success" style="font-size:12px; vertical-align: middle;">Tidak Ada Denda</span></td>
                                    <td [rowSpan]="val.length" *ngIf="j ===0 && listHari[i] !==0" style="vertical-align: middle;">{{listHari[i] | number}} Hari</td>
                                    <td [rowSpan]="val.length" *ngIf="j ===0 && listHari[i] ===0" style="vertical-align: middle;">-</td>
                                    <td [rowSpan]="val.length" *ngIf="j ===0 && listDenda[i] !==0" style="vertical-align: middle;">Rp. {{listDenda[i] | number}}</td>
                                    <td [rowSpan]="val.length" *ngIf="j ===0 && listDenda[i] ===0" style="vertical-align: middle;">-</td>
                                </tr>
                            </ng-container>
                        </tbody>
                        <tfoot>
                            <tr style="font-weight: bold;">
                                <td colspan="7" style="text-align: right;">Total</td>
                                <td>{{totalHari}} Hari</td>
                                <td>Rp.{{totalDenda | number}}</td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>